# Ignore all files in the .vs directory
.vs/

# Ignore node_modules directory
node_modules/

# Ignore all .log files
*.log

# Ignore the build directory
build/

# Ignore files ending in .tmp or .temp
*.tmp
*.temp
